/*  your css code here. If applicable */
*{
	padding:0px;
	margin:0px;
}
#grid{
	color:white;
	font-size:35px;
	/* width:100vw;
	height:100vh; */
	background-color:green;
	display:grid;
	grid-template-columns:242.5px 242.5px 242.5px 242.5px;
	grid-template-rows: 124px 124px 124px 124px 124px;
	/* grid-gap:5px solid white;; */
}
.item1{
	grid-column:span 4 / auto  ;
	grid-row: ;
	padding:10px;
	border:5px solid white;
	
}
.item2{
	grid-column: 1 / 2  ;
	grid-row: span 4 / auto;
	padding:10px;
	border:5px solid white;
}
.item3{
	grid-column: 2 / 3 ;
	grid-row: 2 / 3;
	border:5px solid white;
	padding:10px;
}
.item4{
	grid-column: span 2 /auto;
	grid-row: 2 / 3;
	border:5px solid white;
	padding:10px;
}
.item5{
	grid-column: span 2 /auto ;
	grid-row: 3 / 4;
	border:5px solid white;
	padding:10px;
}
.item6{
	grid-column: 4 / -1 ;
	grid-row: 3 / -4;
	border:5px solid white;
	padding:10px;
}
.item7{
	grid-column: 2 / 3 ;
	grid-row: 4 / 5;
	border:5px solid white;
	padding:10px;
}
.item8{
	grid-column: 3 / 4 ;
	grid-row: 4 / 5;
	border:5px solid white;
	padding:10px;
}
.item9{
	grid-column: 4 / 5 ;
	grid-row: 4 / 5;
	border:5px solid white;
	padding:10px;
}
.item10{
	grid-column: span 3 /auto ;
	grid-row: 5 / -1;
	border:5px solid white;
	padding:10px;
}